/* GENERAL STYLES */

body {
    background-color: #FFFBF5;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #DBC4F0;
    color: #713ABE;
    text-align: center;
}

h1 {
    margin: 0px;
    padding: 20px;
}

h2 {
    margin-top: 30px;
}

div {
    margin: 25px 0;
}

hr {
    border: none;
    border-top: 3px double #DBC4F0;
    color: #713ABE;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 50%;
}

hr::after {
    background: #fff;
    content: '§ § §';
    padding: 0 4px;
    position: relative;
    top: -10px;
}

table {
    margin-bottom: 20px;
}

footer {
    position: relative;
    bottom: 0px;
    padding: 5px 20px;
    background-color: #DBC4F0;
    text-align: center;
    clear: both;
}

a {
    color: #713ABE;
}

img {
    max-width: 100%;
    height: auto;
}

/* MENU */
#menu ul {
    display: flex;
    gap: .7rem;
    justify-content: center;
    list-style-type: none;
}

/* UTILITIES */
.main-contents {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.centered-text {
    text-align: center;
}

.data-highlight {
    font-size: 2rem;
    color: seagreen;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: -10px;
}

.checked {
    height: 20px;
    position: relative;
    top: 4px;
}

/* COLUMNS - SCREEN SIZE > 1024px */

.only-large-screen {
    display: none;
}

@media (min-width: 1024px){
    .columns-2 {
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        margin: 25px 0;
    }

    .column {
        margin: 0px;
        flex: 1;
    }

    .vr {
        display: block;
        margin: 0 2%;
        width: 1px;
        border-right: 3px double #DBC4F0;
    }

    .only-small-screen {
        display: none;
    }
}

/* FLEX BOXES */
.flex-boxes {
    display: flex;
    justify-content: center;
    gap: 5%;
}

.flex-boxes div {
    margin: 0;
}

/* LEARNING STREAK PAGE */

.not-applicable {
    background-color: gainsboro;
}

.done {
    background-color: green;
}

.in-progress {
    background-image: linear-gradient(to right, seagreen, yellowgreen);
}