/* GENERAL STYLES */

body {
    background-color: #FFFBF5;
    margin: 0px;
    font-family: "Open Sans", sans-serif;
}

header {
    background-color: #DBC4F0;
    color: #713ABE;
    text-align: center;
}

h1 {
    margin: 0px;
    padding: 20px;
}

h2 {
    text-align: center;
}

div {
    margin: 25px 7%;
}

hr {
    border: none;
    border-top: 3px double #DBC4F0;
    color: #713ABE;
    overflow: visible;
    text-align: center;
    height: 5px;
    width: 50%;
}

hr::after {
    background: #fff;
    content: '§ § §';
    padding: 0 4px;
    position: relative;
    top: -10px;
}

footer {
    padding: 5px 20px;
    background-color: #DBC4F0;
    text-align: center;
}

a {
    color: #713ABE;
}

/* UTILITIES */

.centered {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.checked {
    height: 20px;
    position: relative;
    top: 4px;
}

/* LEARNING STREAK PAGE */

.not-applicable {
    background-color: lightgray;
}

.done {
    background-color: green;
}

.in-progress {
    background-image: linear-gradient(to right, seagreen, yellowgreen);
}